
body{
    align-items: center;
background-image: url(fondo.jpg)
} 

h2{
text-align: center;
font-size: 30px;
color: red;
font-family:Arial, Helvetica, sans-serif
}

table {
    border: #000000 4px solid;
    color: rgb(255, 255, 255);
    border-radius: 7px;
  }

marquee{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #ffffff;
background-color: #0B20DA;
height: 35px;
}

p{
  color: #9c0bdf;
  background-color: black;
  background-size: 30%;
  
}

